.sidebar{
    width: 72px;
    height: 500;
    background-color:white;
    position: fixed;
    z-index: 101;
    top: 54px;
    bottom: 0;
    left:0;
    margin-right: 20px;
}

.sidebar-link{
    height: 74px;
    position: relative; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    transition: background-color 0.15s;
    cursor: pointer;
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}

.sidebar-link:hover{
    background-color: rgb(241, 241, 241);
}

