
    .thumbnail {
      width: 100%;
    }


    .profile {
      display: inline-block;
      width: 50px;
      vertical-align: top;
    }

    .channel-pic {
      width: 35px;
      border-radius: 50px;
    }

    .video-info {
      display: inline-block;
      width: 230px;
      margin-top: 0px;
    }

    .thumbnail-row {
      margin-bottom: 8px;
      position: relative;
    }

    .video-info-grid {
      display: grid;
      grid-template-columns: 50px 1fr;
    }

    .video-title {
      margin-top: 0px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .video-author,
    .video-stats {
      font-size: 12px;
      color: #606060;
    }

    .video-author {
      margin-bottom: 5px;
    }

    .video-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 40px;
    }

    @media(max-width :800px){
      .video-grid{
        grid-template-columns: 1fr 1fr;
      }
    }
    @media(min-width :1000px){
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
    @media(min-width :800px)and(max-width:999px){
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    /* commment*/


    .video-time{
      position:absolute;
      background-color: black;
      color: white;
      font-family: Roboto,Arial;
      font-size: 12px;
      font-weight: 500;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 2px;
      bottom: 8px;
      right: 5px;
    }